---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Ivan Gaal{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}I'm a Skateboarder, Photographer, Videographer and Marketing Specialist who enjoys documenting my travels. I've spent the last seven years in various marketing rules, with an emphasis on digital marketing and marketing automation.{% endif %}</p>
          <p class="author_subtitle">Thanks for visiting my site, if you like what you see, please connect with me to discuss how I can help promote your product or service in a similar fashion.</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
